<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div>
        <form action="/" method="post">
            <input type="text" name="voterName" id="" placeholder="Name" autocomplete="off">
            <input type="radio" name="vote" value="true" id="">
            <label>Boy</label>
            <input type="radio" name="vote" value="false" id="">
            <label>Girl</label>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="container">

        <div class="row">


            <div class="col">
                <h1>BOY</h1>

                <% for(let i =0; i < dbdata.length; i++) { %>
                <%    if(dbdata[i].boy === 1) {%>
                <p><%= dbdata[i].name %></p>
                <%     }%>
                <% }%>

            </div>


            <div class="col">
                <h1>GIRL</h1>
                <% for(let i =0; i < dbdata.length; i++) { %>
                <%    if(dbdata[i].boy === 0) {%>
                <p><%= dbdata[i].name %></p>
                <%     }%>
                <% }%>
            </div>
        </div>

    </div>



</body>

</html>