<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>BOY</h1>
    <% for(let i = 0; i < listofboy.length; i++) {%>
    <li> <%= listofboy[i] %> </li>
    <% }%>

    <h1>GIRL</h1>
    <% for(let i = 0; i < listofgirl.length; i++) {%>
    <li> <%= listofgirl[i] %> </li>
    <% }%>
</body>

</html>