#header {
    margin-bottom: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: turquoise;
    color: white;
    text-align: center;
  }

  .needName {
      color: red;
  }

  .needNameDefault {
    visibility: hidden;
    font-weight: bold;
}
  .needNameTextbox {
      border-color: red;
  }